<% provide(:title, 'Contact') %>
<br><h1>Contact</h1>
<p>
  <h2>The OEO administrator can be reached via email via <a href="mailto:duy.le@orsyp.com">duy.le@orsyp.com</a></h2> 
  <h2>Orsyp Software's <a href="http://www.orsyp.com/company/contact-us/">Contact Us</a> page</h2>
</p>