<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Orsyp Expertize Online </h1>
<h2>Time Request</h2>
  <%= link_to "If you're already an Orsyp customer, request access now!", '#', class: "btn btn-large btn-primary" %>
</div>