<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Expertise Online </h1>
<h2>Time Request</h2>
  <%= link_to "Sign In", signin_path , class: "btn btn-large btn-primary" %>
</div>