<% provide(:title, 'Time Request') %>


<div class="center hero-unit">
	<% if signed_in? %>
  <h1>Time Request</h1>
  <br><br><br />
  <%= link_to "30 min", "https://www.timetrade.com/book/G3KFM", class: "btn btn-primary" %>
  <br>
  <%= link_to "1 hour", "https://www.timetrade.com/book/1NBZR", class: "btn btn-primary" %>
  <br>
  <%= link_to "2 hours", "https://www.timetrade.com/book/ZL8XN", class: "btn btn-primary" %>
  	
  <% else %>
  <h2>You have to sign in to view this page.</h2>
  <br>
  <%= link_to "Sign In", signin_path , class: "btn btn-large btn-primary" %>
  
  <% end %>
</div>