<footer class="footer">
	<small> By <a href="mailto:duy.le@automic.com">Duy Le</a> @ <a href="http://orsyp.com/">Orsyp</a> </small>
	<nav>
		<ul>
			<li>
				<%= link_to "Contact", contact_path %>
				<a href="http://www.orsyp.com/company/news-events/headline-news/">News</a>
			</li>
		</ul>
	</nav>
</footer>